<suite name="TestNg Roicians">
	<test name="Regression" allow-return-values="true">
		<classes>
			<class name="seleniumpractice.TestNParameterization" />
		</classes>
	</test>
	<test name="Smoke" allow-return-values="true">
		<classes>
			<class name="seleniumpractice.TestN" />
		</classes>
	</test>


</suite>
